<h1 class="p-2 m-0">Lista de Articulos</h1>
<div class="w-100 row p-4">
  <div class="m-0 w-25 h m-0 p-1 row " *ngFor="let item of list">
    <div class="card altura h-auto">
      <img class="card-img-top" src="{{getImagen(item.id)}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{item.nombre}}</h5>
        <p class="card-text "><strong>Precio sugerido: {{item.precio_sugerido}}</strong></p>
        <p class="card-text">{{item.descripcion}}</p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" (click)="openModal(item.id)">
          Ver detalles
        </button>
      </div>
    </div>
  </div>
</div>
